body {
    background-color:#422D7A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 80px;
    border: 4px ridge black;
    text-align: center;
    background-color: #BEA8FB;
}

h1 {
    margin: 0;
    padding-top: 20px;
}

main {
    width: 900px;
    height: 400px;
    margin-left: auto;
    margin-right: 400px;
    margin-top: 30px;
    background-color: #6B4AC7;
    border: 4px ridge black;
    padding: 10px;
}

#right_tab {
    float: right;
    width: 250px;
    height: 430px;
    margin-top: 30px;
    margin-right: 20px;
    background-color: #6B4AC7;
    border: 4px ridge black;
    padding-left: 15px;
}

.prize {
    width: 100px;
    height: 22px;
    background-color: #574D73;
    border: 1px ridge black;
    color: azure;
    padding-top: 2px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

.discarded {
    width: 100px;
    height: 22px;
    background-color: darkred;
    border: 1px ridge black;
    color: azure;
    padding-top: 2px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    text-decoration: line-through;
}

#initial_selection {
    width: 100px;
    height: 100px;
    background-color: goldenrod;
    float: left;
    text-align: center;
    margin: 5px;
    padding-top: 5px;
}

.option {
    width: 100px;
    height: 100px;
    background-color: #574D73;
    float: left;
    text-align: center;
    margin: 5px;
    padding-top: 5px;
}

.option p {
    margin-top: 15px;
}

.option:hover {
    background-color: #BEA8FB;
}

.selected {
    width: 100px;
    height: 100px;
    background-color: #422D7A;
    float: left;
    text-align: center;
    margin: 5px;
    padding-top: 5px;
}

input[type="submit"]{
    visibility: hidden;
}

#submit_btn {
    width: 150px;
    height: 50px;
    background-color: #422D7A;
    color: azure;
    margin-top: 5px;
    padding-left: 25px;
    padding-bottom: 5px;
    font-size: 14pt;
    margin-left: 43%;
}

#congrats {
    position: fixed;
    top: 10em;
    left: 25em;
    width: 500px;
    height: 200px;
    background-color: #BEA8FB;
    border: 4px ridge black;
    text-align: center;

    animation: fadeIn 1.5s;
}
#box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #BEA8FB;
    text-align: center;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

#congrats button {
    cursor: pointer;
    border-radius: 12px;
    margin-top: 10px;
    height: 30px;
}

.pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
}
.banker{
    height:100%;
    width: 100%;
}
